* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 800px;
    height: 500px;
}

.slider, .images, .item {
    width: 100%;
    height: 100%;
}

.slider{
    position: relative;
}

.item {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

img {
    width: 100%;
    height: 100%;
}

.images {
    position: relative;
}

.fa-solid {
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
    color: yellow;
}

.fa-chevron-left{
    left: 5px;
}

.fa-chevron-right{
    right: 5px;
}

.active {
    opacity: 1;
}